<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://placehold.it/2000x700" alt="Slide 1">
    </div>
    <div class="item">
      <img src="http://placehold.it/1999x700" alt="Slide 2">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>View Inventory</h2>
  </div>
  <div class="col-md-4">
    <h2>Make a Reservation</h2>
  </div>
  <div class="col-md-4">
    <h2>FAQ</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pellentesque pulvinar metus, ac facilisis tortor. Duis laoreet tristique justo, quis iaculis felis molestie ac. Proin dignissim augue at leo accumsan, nec euismod purus suscipit. Nulla vel massa accumsan, consequat enim et, tempor metus. Mauris tempor semper ornare. Etiam sed bibendum metus. Fusce sed iaculis lorem. Maecenas sodales rhoncus ultricies. Nunc dictum justo nec ex consectetur, id rhoncus nisl fringilla. Curabitur sodales, risus a gravida dapibus, sapien lorem consectetur ante, nec interdum nisi sem tempus eros.

      Ut id aliquet purus. Cras nisi augue, rutrum vitae mi vel, laoreet ullamcorper urna. Fusce rutrum odio odio, at rutrum orci lacinia a. Mauris sed magna quis nibh interdum ornare. Nunc facilisis condimentum neque. Aenean a consequat metus. Ut at lorem placerat, tincidunt dolor eget, pulvinar est. Sed porttitor vulputate dolor, ut commodo diam volutpat ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed ut pharetra metus. Sed bibendum, velit eu blandit pharetra, arcu neque sagittis ex, eu porttitor enim erat sed ante. Quisque at nisl nec odio iaculis pharetra sit amet a turpis. Nam tincidunt tristique facilisis. Donec fermentum lacus eget nulla dapibus rutrum.

      Pellentesque hendrerit sollicitudin auctor. Praesent cursus euismod tellus a scelerisque. Nunc posuere at mauris ut dictum. Nulla mattis, ipsum eget eleifend lacinia, turpis enim cursus arcu, eget blandit augue nisi ac metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum lacinia nulla in tellus lacinia molestie eget quis massa. Ut ultrices mauris tempor felis dignissim pharetra. Mauris eu ornare purus, ut iaculis sapien. Praesent consequat ultrices nulla, ut semper nisl luctus ac. Ut massa ante, rutrum bibendum felis vitae, posuere imperdiet nisl. Praesent non erat lorem. Vivamus et tincidunt orci, sit amet tristique risus. Vestibulum commodo in tellus id viverra.
    </p>
  </div>
</div>